
.special-char-sec {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: var(--space-l);
  padding-top: 0;
  overflow: hidden;

  &__lang {
    position: relative;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-flow: column;
    justify-items: center;
    line-height: 1.7;
    font-family: var(--font-text);
    padding-top: 15vw;
    font-weight: 400;
    .and-more {
      grid-row-end: -1;
    }
  }

  &__bg {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__text {
    position: relative;
    align-self: center;
    text-align: center;
    font-size: max(3.5rem, 5.2vw);
    font-family: var(--font-serif);
    text-transform: uppercase;
    text-wrap: balance;
    margin-top: 5em;
    font-weight: 100;
  }
}

@include mobile {
  .special-char-sec {
    &__lang {
      grid-template-rows: repeat(18, 1fr);
      padding-top: 0;
    }
    &__text {
      margin-block: 10em;
    }
  }
}

/* Text Reveal Animation On Enter */
.special-char-sec__lang {
  background: linear-gradient(white, white 45%, transparent 55%, transparent);
  background-size: 100% 210%;
  color: transparent;
  background-clip: text;
  animation: revealText 2s both;
  animation-play-state: paused;
  &.active {
    animation-play-state: running;
  }
}

@keyframes revealText {
  from {
    background-position: bottom;
  }
  to {
    background-position: top -10% center;
  }
}
